html,
body,
/* #mapid references the id tag on the index.html page 
width and height 100% sets the <div> element to a 100% of the page */
#mapid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}